<!doctype html>
<html lang="en">
    <head>
    <title>Smooth software company landing page</title>

    <meta charset="utf-8">
    <meta name="keywords" content="Landing page, software, (SaaS) services, Bootstrap 4 template, plugins, app, SEO friendly, business, Sass, Gulp">
    <meta name="description" content="Smooth is a HTML5 Landing Page Build using Gulp, SCSS, and Bootstrap4. It was designed to promote your App, services or business projects.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="99webpage">
    
    <link rel="icon" type="image/png" href="<%= url %>favicon/smooth-favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%= url %>favicon/smooth-favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= url %>favicon/smooth-favicon-144x144.png" sizes="144x144">
    <link rel="icon" type="image/png" href="<%= url %>favicon/smooth-favicon-196x196.png" sizes="196x196">

    <link rel="apple-touch-icon" href="<%= url %>favicon/smooth-favicon-196x196.png">

    <!-- Template stylesheet -->
    <link rel="stylesheet" href="<%= url %>assets/css/style.min.css">

    <script>
      
    </script>
    </head>
    <body>

    <!-- Start Header -->
    <header class="header js-header-scroll header__inner">
        <nav hidden>
            <div class="nav-header">
                <a href="/" class="brand">
                    <img src="<%= url %>assets/brand/logo.png" class="logo" alt="Smooth" />
                </a>
                <button class="toggle-bar">
                    <span class="fa fa-bars"></span>
                </button>
            </div>		
            <!-- Start Header menu for mobile -->
            <div class="header__mobile js-header-menu">
                <a href="#" class="header__mobile-brand">Menu</a>
                <button class="toggle-bar header__mobile-toggle">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
            <!-- End Header menu for mobile -->	
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/contact-us">Contact us</a></li>
                <li><a href="/faq">F.A.Q</a></li>
            </ul>
        </nav>
    </header>
    <!-- End Header -->



    <!-- Start Section -->
    <section class="section section__gray">
        
    </section>
    <!-- End Section -->

    <!-- Start Section -->
    <section class="section section__cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <a href="/" class="btn btn-white btn-rounded btn-lg btn-icon-right">
                        Thanks for choosing us
                        <i class="fa fa-long-arrow-right"></i>
                    </a>
                    <h2>We will get back to you soon </h2>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Start Back to top -->
    <div class="back-to-top js-back-to-top">
        <span class="fa fa-angle-double-up back-to-top__icon"></span>
        <span class="back-to-top__text">TOP</span>
    </div>
    <!-- End Back to top -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="<%= url %>assets/js/jquery.min.js"></script>

	<!-- Template main JavaScript -->
	<script src="<%= url %>assets/js/main.min.js"></script>

	<!-- Template custome JavaScript -->
	<script src="<%= url %>assets/js/scripts.min.js"></script>
    </body>
</html>
