<!doctype html>
<html lang="en">
    <head>
        <title>Vetskart - Contact us</title>
    
        <meta charset="utf-8">
        <meta name="keywords" content="vetskart contact us page for service provider">
        <meta name="description" content="vetskart contact us page for service provider, here you can contact us for joining">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="vetskart">
        
        <link rel="icon" type="image/png" href="<%= url %>favicon/icon-57x57.png" sizes="57x57">
        <link rel="icon" type="image/png" href="<%= url %>favicon/icon-72x72.png" sizes="72x72">
        <link rel="icon" type="image/png" href="<%= url %>favicon/icon-114x114.png" sizes="114x114">
        <link rel="icon" type="image/png" href="<%= url %>favicon/icon-144x144.png" sizes="144x144">
    
        <link rel="apple-touch-icon" href="<%= url %>favicon/favicon.png">
    
        <!-- Template stylesheet -->
        <link rel="stylesheet" href="<%= url %>assets/css/style.min.css">
        </head>
    <body>

    <!-- Start Header -->
    <header class="header js-header-scroll header__inner">
        <nav hidden>
            <div class="nav-header">
                <a href="/" class="brand">
                    <img src="<%= url %>assets/brand/logo.png" class="logo" alt="Smooth" />
                </a>
                <button class="toggle-bar">
                    <span class="fa fa-bars"></span>
                </button>
            </div>		
            <!-- Start Header menu for mobile -->
            <div class="header__mobile js-header-menu">
                <a href="#" class="header__mobile-brand">Menu</a>
                <button class="toggle-bar header__mobile-toggle">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
            <!-- End Header menu for mobile -->	
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/contact-us">Contact us</a></li>
                <li><a href="/faq">F.A.Q</a></li>
            </ul>
        </nav>
    </header>
    <!-- End Header -->



    <!-- Start breadcrumb -->
    <section class="innerpage__head">
       
    </section>
    <!-- End breadcrumb -->

   <!-- Start Section -->
   <section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-5 offset-lg-1 mb-40">
                <img src="assets/images/whatsapp.png" class="img-fluid" alt="Using Software">
            </div>
            <div class="col-lg-5 mb-40">
                <h2>Reach to us via Whatsapp</h2>
                <p>
                    Mobile no: +91 9321038653
                </p>
                <a href="https://wa.me/919321038653" class="btn btn-primary btn-stroke btn-rounded">Click to chat</a>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->

<!-- Start Section -->
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-40">
                <img src="assets/images/email.png" class="img-fluid" alt="Business Man with Laptop">
            </div>
            <div class="col-lg-5 offset-lg-1 mb-40">
                <h2>Contact directly via email</h2>
                <p>
                    Email: info@vetskart.com
                </p>
                <a href="mailto: dhirajkahar7@gmail.com" class="btn btn-primary btn-stroke btn-rounded">Click here for support</a>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->



    <!-- Start Back to top -->
    <div class="back-to-top js-back-to-top">
        <span class="fa fa-angle-double-up back-to-top__icon"></span>
        <span class="back-to-top__text">TOP</span>
    </div>
    <!-- End Back to top -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="<%= url %>assets/js/jquery.min.js"></script>

	<!-- Template main JavaScript -->
	<script src="<%= url %>assets/js/main.min.js"></script>

	<!-- Template custome JavaScript -->
	<script src="<%= url %>assets/js/scripts.min.js"></script>
    </body>
</html>
